@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Unbounded:wght@200..900&display=swap');

body{
    font-family: "Unbounded", serif;
}

.dms{
    font-family: "DM Sans", sans-serif;
}

.animated{
    transform-origin: center;
    animation: animation1 2s ease-out infinite;
}

@keyframes animation1 {
    0% { transform: translateX(-50%) scale(.7); }
    50% { transform: translateX(-50%) scale(1.2); }
    100% { transform: translateX(-50%) scale(.7); }
}

.width-animated{
    animation: width-anni 3s ease-out 0s 1 forwards;
}
@keyframes width-anni {
	0% {
        transform: translateX(-20%);
        width: 0;
	}
    50% {
        width: 100%;
    }
	100% {
        transform: translateX(100%);
		width: 100%;
	}
}

.circle-opacity{
    animation: cy-opacity 3s cubic-bezier(0.32, 0, 0.67, 0) 0s 1 forwards;
}
@keyframes cy-opacity {
	0% {
        opacity: .1;
	}
    30% {
        opacity: .2;
    }
    50% {
        width: .5;
    }
    60% {
        opacity: .6;
    }
	100% {
        opacity: 1;
	}
}


/* Pricing Plan */
.pricing-plan ul li{
    padding-left: 30px;
    position: relative;
}
.pricing-plan ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 15%;
    transform: translateX(-15%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #E81C2E;
}

/* Button Hover */
.tran-before::before,
.tran-before2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 999px;
    width: 100%;
    height: 100%;
    background-color: #E81C2E;
    transition: transform .5s ease;
}
.tran-before:hover::before,
.tran-before2:hover::before{
    transform: translateY(-100%);
}
.tran-before p,
.tran-before2 p{
    transition: color .5s ease;
}
.tran-before:hover p{
    color: black;
}
.tran-before2:hover p{
    color: white;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #18171A;
    border: 1px solid #dadada;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
input[type="checkbox"]:checked{
    background-color: #e71a17;
    border-color: #e71a17;
}
input[type="checkbox"]:checked::after{
    content: '✓';
    color: white;
    font-size: .8rem;
    font-weight: 600;
    display: block;
    text-align: center;
}